.homepage-jumbotron {

	padding-top: 5em;
	padding-bottom: 5em;

	h1 {
		font-size: 5em;
		color: $gray-dark;
	}

	p {
		margin: 0;
		color: $gray-light;
		letter-spacing: 2px;
		font-family: "Overpass";
	}

}

.posts-list {

	background-color: $gray-lighter;
	padding-bottom: 0em;

	&:not(.single-post) {
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;

			height: 6em;
			background-color: white;
		}

		&.post-overflow{
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 1.5em;
				background-color: white;
				z-index: 9;
			}
		}
	}

	&.single-post {
		padding-top: 2em;
	}


	ul{

		@include make-row();

		li {
			@include make-col-ready();
			@include make-col(12);
			margin-bottom: 2em;

			a {
				color: black;

				@include box-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
				@include transition(all 0.25s);

				&:hover {
					@include box-shadow(0 4px 10px 1px rgba(0, 0, 0, 0.2));

					.post-picture {
						@include filter(grayscale(0%));
					}

				}

				display: block;

				.post-picture {
					height: 20em;
					background-size: cover;
					background-position: center;

					@include filter(grayscale(100%));

				}

				.post-info {
					background-color: white;
					display: block;
					padding: 1em;
					position: relative;

					h2 {
						font-weight: lighter;
						color: $gray-dark;
					}

					p {
						text-transform: uppercase;
						margin: 0;
						color: $gray-light;
						font-size: 0.8em;
						font-family: "Overpass";

						&.post-duration {
							position: absolute;
							right: 1em;
							bottom: 1em;
						}
					}

				}

			}


		}

		&:not(.all-posts) li{

			@include media-breakpoint-up (md){

				&:nth-child(n + 2){
					@include make-col(6);
				}

				&:nth-child(n + 4){
					@include make-col(3);
				}

			}

		}

		&.all-posts {
			li:not(.no-post){

				@include media-breakpoint-up (md){
					@include make-col(6);
				}

			}

		}

	}

}

.more-article {

	a {
		display: block;
		border: $gray-dark 2px solid;
		background-color: $gray-lighter;
		border-radius: 3em;
		line-height: 3em;
		font-family: "Overpass";
		font-weight: bold;
		z-index: 10;
		color: $gray-dark;

		&:hover {
			background-color: $gray-dark;
			color: $gray-lighter;
		}
	}
}
