// Load fonts
// Source https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

body * {
	font-family: "Neuton";

	p{
		font-size: 1.01em;
	}

	h1, h2, h3, h4, h5 {
		font-family: "Overpass";
	}

	code, code * {
		font-family: "Hack";
		font-size: 0.9em;
	}
}

// Content
@include font-face(Neuton, fonts/Neuton/Neuton-ExtraLight, 100, null, ttf);
@include font-face(Neuton, fonts/Neuton/Neuton-Light, 300, null, ttf);
@include font-face(Neuton, fonts/Neuton/Neuton-Regular, 500, null, ttf);
@include font-face(Neuton, fonts/Neuton/Neuton-Italic, 500, italic, ttf);
@include font-face(Neuton, fonts/Neuton/Neuton-Bold, 700, null, ttf);
@include font-face(Neuton, fonts/Neuton/Neuton-ExtraBold, 900, null, ttf);

// Titles
@include font-face(Overpass, fonts/Overpass/Overpass-ExtraLight, 100, null, ttf);
@include font-face(Overpass, fonts/Overpass/Overpass-ExtraLightItalic, 100, italic, ttf);
@include font-face(Overpass, fonts/Overpass/Overpass-Light, 300, null, ttf);
@include font-face(Overpass, fonts/Overpass/Overpass-LightItalic, 300, italic, ttf);
@include font-face(Overpass, fonts/Overpass/Overpass-Regular, 500, null, ttf);
@include font-face(Overpass, fonts/Overpass/Overpass-Italic, 500, italic, ttf);
@include font-face(Overpass, fonts/Overpass/Overpass-Bold, 700, null, ttf);
@include font-face(Overpass, fonts/Overpass/Overpass-BoldItalic, 700, italic, ttf);
@include font-face(Overpass, fonts/Overpass/Overpass-ExtraBold, 900, null, ttf);
@include font-face(Overpass, fonts/Overpass/Overpass-ExtraBoldItalic, 900, italic, ttf);

// Code
@include font-face(Hack, fonts/Hack/Hack-Regular, 500, null, ttf);
@include font-face(Hack, fonts/Hack/Hack-Italic, 500, italic, ttf);
@include font-face(Hack, fonts/Hack/Hack-Bold, 700, null, ttf);
@include font-face(Hack, fonts/Hack/Hack-BoldItalic, 700, italic, ttf);
